.password-input-container {
  position: relative;
}
.password-input-container input {
  height: 55px;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid #333333;
  width: 350px;
}
.eye-icon {
  position: absolute;
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
