<mat-form-field appearance="outline">
  <mat-label>{{'payment_dates'|translate}}<span>*</span></mat-label>
    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate #startInput (dateChange)="dateChanged(startInput.value, endInput.value)" placeholder="Start date" [value]="start">
        <input matEndDate #endInput [value]="end" (dateChange)="dateChanged(startInput.value, endInput.value)" placeholder="End date">
      </mat-date-range-input>
    <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  