<div class="piggy_bank">
    <img class="piggy_img pig" src="../../../assets/images/piggy_bank.png" alt="">
    <div class="piggy_info">
        <div class="piggy_data">
            <div>
                <h2 class="title">{{goal}}</h2>
                <p class="amount">{{savedAmount | number: '.2-2'}}<span *ngIf="goalAmount">/</span>{{goalAmount | number: '.2-2'}}$</p>
            </div>
            <svg width="36" height="52" viewBox="0 0 36 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <ellipse cx="18.4072" cy="24.9825" rx="17.5" ry="17.7841" fill="white"/>
                <path d="M17.3849 34.3353V27.3753H10.5049V24.4953H17.3849V17.5353H20.4249V24.4953H27.3049V27.3753H20.4249V34.3353H17.3849Z" fill="#FF76AE"/>
                </svg>
        </div>
        <div class="percentage">
            <div class="bar" [ngStyle]="{'width': goalAmount ? savedAmount/goalAmount * 100+'%' : '100%'}"></div>
        </div>

    </div>
</div>
