.subscription_container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  padding: 10px 20px;
  font-family: "Space Grotesk";
  margin-bottom: 10px;
}
.subscription_title {
  width: 157px;
  height: 45px;
  background-color: #eceded;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: #373737;
}
.subscription_description {
  width: 300px;
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-direction: column;
}
.subscription_description div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.subscription {
  color: #373737;
  font-size: 20px;
  font-weight: 400;
}

.date {
  font-family: "Space Grotesk;";
  font-size: 18px;
  font-weight: 400;
  color: #373737;
}
.date span {
  font-weight: 700;
}
.amount {
  align-self: flex-start;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 400;
  width: 110px;
  text-align: end;
  color: #ee3f19;
}
