<div class="title"><h2 mat-dialog-title>Piggy Bank Information</h2> <div class="svgs">
    <svg xmlns="http://www.w3.org/2000/svg" (click)="openEditPiggyDialog(data)" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="edit">
        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
      </svg>
      <svg width="36" height="36" (click)="openAddMoneyToPiggyDialog(data)" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="18.0337" cy="17.9796" r="16.5" stroke="#FF76AE" stroke-width="2"/>
        <path d="M17.0113 25.8796V18.9196H10.1313V16.0396H17.0113V9.07961H20.0513V16.0396H26.9313V18.9196H20.0513V25.8796H17.0113Z" fill="#FF76AE"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" mat-dialog-close class="cross" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
</div>
      
  </div>
<mat-dialog-content class="">
    <p class="percentage_bar_data">{{data.saved_amount| number: '.2-2'}}/{{data.goal_amount| number: '.2-2'}}$</p>
    <div class="percentage">
        <div class="bar" [ngStyle]="{'width':data.saved_amount/data.goal_amount * 100 <= 100 ? data.saved_amount/data.goal_amount * 100+'%' : '100%'}"></div>
    </div>

    <div class="data">
        <div class="goal">
            <h2>Goal:</h2> <span>{{data.goal}}</span>
        </div>
        <div class="goal_amount">
            <h2>Goal Amount:</h2> <span>{{data.goal_amount| number: '.2-2'}}$</span>
        </div>
        <div class="saved_amount">
            <h2>Saved Amount:</h2><span>{{data.saved_amount| number: '.2-2'}}$</span>
        </div>
    </div>
    <button class="crash" (click)="openDeleteDialog(data)">
        <img class="piggy_img" src="../../../assets/images/piggy_bank.png" alt=""> <h2>Crash</h2></button>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="close">Close</button>
</mat-dialog-actions>