<div class="title"><h2 mat-dialog-title>{{'add_money'|translate}}</h2> <div class="svgs">
    <svg xmlns="http://www.w3.org/2000/svg" mat-dialog-close class="cross" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
</div>
  
</div>
<mat-dialog-content class="">
<form class="edit_form" action="" [formGroup]="AddMoneyToPiggyForm">
<app-form-input class="goal" [inputData]="data.goal" [placeholderText]="'goal'|translate" [required]="true"></app-form-input>
<app-form-input class="amount" [inputData]="data.goal_amount" [placeholderText]="'goal_amount'|translate" [required]="true"></app-form-input>
<app-form-input [inputData]="data.saved_amount" formControlName="saved_amount"  [placeholderText]="'amount_to_save'|translate" [required]="true" inpitType="number"></app-form-input>
<app-form-input [inputData]="data.date" formControlName="date"  [placeholderText]="'date'|translate" [required]="true" inpitType="date"></app-form-input>
</form>
</mat-dialog-content>
<mat-dialog-actions>
<div class="buttons">

    <button mat-button mat-dialog-close>{{'close'|translate}}</button>
    <app-add-button (click)="onSubmit()"><p class="save">{{'save'|translate}}</p></app-add-button>
</div>
</mat-dialog-actions>