.statistic-page {
  background-color: #eceded;
  min-height: 90vh;
  padding: 0px 52px;
  display: flex;
  gap: 125px;
}
.statistic-tab {
  display: flex;
}
.statistic-tab div {
  padding: 8px 16px;
  background-color: white;
  border: 2px solid #373737;
  border-radius: 10px;
}
.monthly {
  margin-left: -16px;
  opacity: 50%;
}
.categories {
  z-index: 10;
}
.monthly h2 {
  padding-left: 8px;
}
::ng-deep .mdc-line-ripple {
  display: none;
}
mat-form-field {
  margin-top: 50px;
  width: 100%;
  border-radius: 10px;
}
table {
  width: 100%;
}
.mat-mdc-header-row {
  background-color: #d5f1ec;
  height: 40px;
}
.mat-mdc-row {
  height: 40px;
}
tbody {
  padding: 0px 10px;
}
.total_expenses {
  width: 95%;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  padding: 4px 10px;
  margin-bottom: 30px;
}
.total {
  color: #1111117a;
  font-family: "Space Grotesk";
  font-size: 13px;
  font-weight: 400;
}
.exp_amount {
  color: #ff0000;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: 400;
}
.chart {
  background-color: white;
  margin-top: 100px;
}
.rounded-table {
  border-collapse: collapse;
  border-radius: 10px;
  padding-left: 5px;
  overflow: hidden;
}
.rounded-table td,
.rounded-table th {
  padding: 0 10px;
}
.rounded-table th {
  border: none;
}
