<div class="login_container">
    <div class="inputs_container">
        <h2>Budgetify</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="loggin_form">
            <input type="text" placeholder="Name" formControlName="name">
<input type="email" placeholder="Email" formControlName="email">
<app-password-input placeholderText="Password" formControlName="password"></app-password-input>
<app-password-input placeholderText="Repeat Password" formControlName="repeatPassword"></app-password-input>

            <button type="submit" class="login_button">Register</button>
        </form>
        <h3>Already have an account? <a routerLink="/login">Log in</a></h3>
    </div>
</div>
