<mat-form-field class="example-chip-list" (click)="emitEvent()" appearance="outline">
  <mat-label>Category<span>*</span></mat-label>
    <mat-chip-grid #chipGrid aria-label="category selection" class="categories">
      @for (category of categories; track category) {
        <mat-chip-row (removed)="remove(category)">
          {{category}}
          <button matChipRemove [attr.aria-label]="'remove ' + category">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input #categoryInput [formControl]="categoriesCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" class="input"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" class="autocomplete">
      @for (category of filteredcategories | async; track category) {
        <mat-option [value]="category">{{category}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <!-- <mat-form-field appearance="outline">
    <mat-label>{{ placeholderText}}</mat-label>
    <input matInput [placeholder]="placeholderText" (input)="onChange($event.target.value)"  [value]="inputData" [type]="inputType">
</mat-form-field> -->
  