<div class="login_container">
    <div class="inputs_container">
        <h2>Budgetify</h2>
        <form action="" class="loggin_form">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <app-password-input placeholder_text="Password"></app-password-input>
            <app-password-input placeholder_text="Repeat Password"></app-password-input>
            <button class="login_button">Register</button>
        </form>
        <h3>Already have an account? <a routerLink="/login">Log in</a></h3>
    </div>
</div>
